apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: ut3_tfu-gateway:latest   # <-- reemplazá con tu imagen real
          imagePullPolicy: Never     # si usás imagen local de minikube
          ports:
            - containerPort: 8080
          env:
            - name: AUTH0_DOMAIN
              value: "dev-ajetttoglsxgz176.us.auth0.com"
            - name: AUTH0_AUDIENCE
              value: "https://api.example.com"
